@import "utils.css";

:root{
    --border_radius: 11px;
}

* {
  box-sizing: border-box;
}

body {
    background-color: var(--bg);
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    font-family: "JetBrains Mono", monospace;
    letter-spacing: 15px;
    overflow: hidden;

    transition: opacity 1s ease-out;
}

.spot {
    margin-top: 15px;
    color: white;
    font-size: 25px;
    letter-spacing: 8px;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.main{
    margin-top: 4vh;
    height: 69.5vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vh;
}

.lhs,
.rhs{
    height: 100%;
    flex: 1;
    background-color: rgba(201, 228, 251, 0.196);
    opacity: 0;
    animation: fadeInUp 0.5s 0.2s cubic-bezier(.77,0,.175,1) forwards;

    border-radius: var(--border_radius);
    border: solid;
    border-width: 5px;
    border-color: rgba(201, 228, 251, 0.196);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.head{
    flex: 1;
    background-color: rgba(201, 228, 251, 0.196);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--bg);

    letter-spacing: 5px;
}
.body{
    flex:1;
    letter-spacing: 5px;
    padding: 5vh;
    font-size: 15px;
    line-height: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg);

    transition: all 0.3s ease-out;
}

.lhs:hover, .rhs:hover{
    opacity: 0.8 !important;
    cursor: pointer;
}
.lhs:hover .body, .rhs:hover .body{
    transform: translateY(-12px);
}

.cp{
    flex: 1;
    color: white;
    text-align: center;

    opacity: 0;
    animation: fadeInUp 0.5s 0.4s cubic-bezier(.77,0,.175,1) forwards;
}

.item {
    padding: 20px 10vh;
    margin-bottom: 4vh;

    letter-spacing: 5px;
    background-color: rgba(201, 228, 251, 0.196);
    color: rgba(255, 255, 255, 0.484);

    border: solid;
    border-width: 5px;
    border-color: rgba(201, 228, 251, 0.196);
    border-radius: var(--border_radius) ;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hint {
    flex: 1;
    opacity: 0;
    letter-spacing: 4px;

    background-color: rgba(201, 228, 251, 0.196);
    color: rgba(255, 255, 255, 0.484);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border_radius) ;
    border: solid;
    border-width: 5px;
    border-color: rgba(201, 228, 251, 0.196);
    width: 90%;

    margin-bottom: 4vh;
    transition: background-color 0.2s ease-out;
}
.hint:nth-child(1){
    margin-top: 4vh;
}
.hint:hover{
    background-color: rgba(201, 228, 251, 0.267);
    cursor: pointer;
}

.nav {
    height: 5vh;
    width: 90vw;
    background-color: rgba(201, 228, 251, 0.196);
    border: none;
    opacity: 0;
    letter-spacing: 2px;

    animation: fadeInUp 0.5s 0.3s cubic-bezier(.77,0,.175,1) forwards;
    transition: background-color 0.2s ease;

    border-left: solid;
    border-width: 10px;
    border-radius: calc(var(--border_radius) - 4px);
    border-color: rgba(201, 228, 251, 0.196);
    font-size: 15px;

    padding-left: 10px;
    color: rgba(255, 255, 255, 0.503);
}

.nav:focus{
    outline: none;
    background-color: rgba(201, 228, 251, 0.07);
    color: rgba(255, 255, 255, 0.736);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}