@import "./utils.css";

body {
    background-color: var(--bg);
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    font-family: "JetBrains Mono", monospace;
    letter-spacing: 15px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.spot {
    position: fixed;
    top: calc(3vh + 70px);
    color: white;
    font-size: 30px;
    letter-spacing: 8px;
}

.dynamix {
    position: fixed;
    top: calc(3vh + 130px);
    letter-spacing: 6px;
    color: var(--hyper_bg);
    font-size: 20px;
    font-family: "JetBrains Mono SemiBold", monospace;
}

.main{
    position: fixed;
    top: calc(3vh + 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90vw;

    height: 55vh;
}
.cbtn {
    font-size: 30px;
    color: white;

    margin-top: calc(2vh);
    opacity: 0;
    animation: fadeInUp 0.5s 0.9s cubic-bezier(.77,0,.175,1) forwards;
}
.cbtn:hover {
    opacity: 0.5 !important;
    cursor: pointer;
}
.tp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.top{
    opacity: 0;
    animation: fadeInUp 0.5s 0.2s cubic-bezier(.77,0,.175,1) forwards;

    border-radius: 0px var(--border_radius) var(--border_radius) 0px;
    border: solid;
    border-width: 5px;
    border-color: rgba(201, 228, 251, 0.196);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 15vw;
    padding: 2vh 3vw;
}

.mid{
    opacity: 0;
    animation: fadeInUp 0.5s 0.3s cubic-bezier(.77,0,.175,1) forwards;

    border-radius: 0px var(--border_radius) var(--border_radius) 0px;
    border: solid;
    border-width: 5px;
    border-color: rgba(201, 228, 251, 0.196);

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 60vw;
    padding: 2vh 3vw;
    color: rgba(240, 248, 255, 0.353);
}
.clr{
    letter-spacing: 5px;
    transition: opacity 0.1s ease-out;
}
.clr:hover{
    cursor: pointer;
    opacity: 0.6;
}
.date:hover{
    cursor: pointer;
}

.bot{
    background-color: rgba(240, 248, 255, 0.04);
    opacity: 0;
    animation: fadeInUp 0.5s 0.4s cubic-bezier(.77,0,.175,1) forwards;

    border-radius: 0px var(--border_radius) var(--border_radius) 0px;
    border: solid;
    border-width: 5px;
    border-color: rgba(201, 228, 251, 0.196);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 60vw;
    padding: 2vh 3vw;
    text-align: center;
    height: 20vh;
    color: rgba(255, 255, 255, 0.438);
}
.bot:focus{
    outline: none;
    color: rgb(255, 255, 255);
}

.dayp{
    flex: 1;
    letter-spacing: 4px;

    color: rgba(255, 255, 255, 0.484);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;

    transition: background-color 0.2s ease-out;
}

textarea:read-only{
    cursor: crosshair;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}